@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
  --main-bg-color: #0F202A;
}


body {
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-direction: row;
}

body,html {
  margin: 0;
  padding: 0;
  height: 100%
}
* {
  box-sizing: border-box;
}

.page {
  height: calc(100vh - 100px);
  margin-top:100px;
  background-color: "white";
}